  
<div class="list__item">
  <div class="list__itme__col">
    <%= link_to user do %>
      <%= image_pack_tag 'person.jpg',
            class: "image__profile image__profile--small image__profile--with-border" %>
    <% end %>
  </div>
  <%= link_to user do %>
    <div class="list__item__col project__item__info">
      <h6 class="project__item__title">
        <%= user.full_name %>
      </h6>

      <p class="project__item__short-desc">
        <%= user.year_faculty %>
      </p>

    </div>

  <% end %>
  <div class="list__item__col project__item__actions">
    <%# TODO: [Anyone] Add status%>
    <% if user.followed_by?(current_user) %>
      <%= button_to "Following", unfollow_user_path(user), method: :post,
            class: "button button--very-small button--outline-gray-light",
            remote: true %>
    <% else %>
      <%= button_to "Follow", follow_user_path(user), method: :post,
            class: "button button--very-small button--green",
            remote: true %>
    <% end %>
  </div>
</div>
