<div class="list__item profile__item">
  <div class="list__item__col __col--image mr-2">
    <%= link_to user do %>
      <% if user.profile_image_url %>
        <%= image_tag user.profile_image_url,
            class: "image__profile image__profile--small" %>
      <% else %>
        <%= image_pack_tag "portrait_placeholder.png",
            class: "image__profile image__profile--small" %>
      <% end %>
    <% end %>
  </div>
  <%= link_to user do %>
    <div class="list__item__col profile__item__col--info">
      <h6>
        <%= user.full_name %>
      </h6>

      <p>
        <%= user.year_faculty %>
      </p>

    </div>

  <% end %>
  <div class="list__item__col profile__item__col--actions">
    <%# TODO: [Anyone] Add status%>
    <% if user != current_user %>
      <% if user.followed_by?(current_user) %>
        <%= button_to "Following", unfollow_user_path(user), method: :post,
            class: "button button--sm button--unfollow--sm",
            remote: true %>
      <% else %>
        <%= button_to "Follow", follow_user_path(user), method: :post,
            class: "button button--sm button--follow--sm",
            remote: true %>
      <% end %>
    <% end %>
  </div>
</div>
