<div class="profile mb-4">
  <div class="profile__header">
    <h2>Edit profile</h2>
  </div>
  <%# <div class="d-flex flex-row justify-content-between"> %>
  <h4>Profile Picture</h4>
  <%# <%=image_pack_tag 'icon/edit.png', style: 'height:20px;width:20px;margin-right:10px;'%>
  <%# </div> %>
  <div class="d-flex justify-content-center">
    <% if current_user.profile_image_url %>
      <%= image_tag current_user.profile_image_url, class: "nav__profile-img image__profile image__profile--mega"%>
    <% else %>
      <%= image_pack_tag "portrait_placeholder.png", class: "nav__profile-img image__profile image__profile--medium"%>
    <% end %>
  </div>
  <div class="thin-line"></div>
  <%= form_with(model: @user, url: profile_update_path, local: true) do |f| %>
    <div class="d-flex flex-row justify-content-between">
      <div>
        <%= f.label :profile_image %>
        <%= f.file_field :profile_image %>
      </div>

      <button class="button--medium button--tags">
        <%= f.submit "Update", :class => 'button--transparent'%>
      </button>
    </div>
  <% end %>
  <%= react_component("profile/EditUserProfile",
    {
      authenticityToken: form_authenticity_token,
      submitPath: profile_update_path,
      currentUser: @user,
      profileImage: @user.profile_image,
      currentExpertises: @user.expertises,
      currentSkills: @user.skills,
    })
  %>
</div>
