<h1>Users#edit</h1>

<%= form_with(model: @user) do |f| %>

  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :profile_image %>
    <%= f.file_field :profile_image %>
  </div>

  <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image %>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
