<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/"">
    <%= image_pack_tag 'kollab-blue.png', alt: 'kollab', class: 'nav-logo' %>
  </a>

  <ul class=" navbar-nav mr-auto">

    <!--TODO: [Anyone] Change mockup links when Anya finished homepage design-->
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>

  <!--TODO: [Anyone] Change styling when Anya finished homepage design-->
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to current_user, class: "nav-link" do %>
          <button type="button" class="btn btn-outline-info">My Profile</button>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
          <button type="button" class="btn btn-primary">Logout</button>
        <% end %>
      </li>

    <% else %>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: "nav-link" do %>
          <button type="button" class="btn btn-info">Login</button>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: "nav-link" do %>
          <button type="button" class="btn btn-outline-primary">Sign up</button>
        <% end %>
      </li>

    <% end %>
  </ul>
</nav>
