<div class="setting__header">
  <h2>Settings</h2>
  <%= tabs_tag do |tab| %>
    <div class="setting__tab tab">
      <div class="setting__tab__item">
        <h4><%= tab.edit_profile 'Edit profile', edit_users_settings_user_path, class: "tablinks setting__tab__title" %></h4>
      </div>
      <div class="setting__tab__item">
        <h4><%= tab.edit_project 'Projects', edit_users_settings_project_path, class: "tablinks setting__tab__title" %></h4>
        <div class="setting__tab__selected"></div>
      </div>
    </div>
  <% end %>
</div>

<div class="setting">
  <% if @owned_projects.count > 0%>
    <div class="setting__project__section">
      <div class="setting__project__title">
        <h3>
          Owned Projects (<%= @owned_projects.count %>)
        </h3>
      </div>
      <% @owned_projects.each do |project| %>
        <div class="project-card">
          <p><%=project.title%></p>
          <button class="setting__project__button__delete">Delete</button>
        </div>
      <%end%>
    </div>
  <%end%>

  <% if @participated_projects.count > 0%>
    <div class="setting__project__section">
      <div class="setting__project__title">
        <h3>
          Participated Projects (<%= @participated_projects.count %>)
        </h3>
      </div>
      <% @participated_projects.each do |project| %>
        <div class="project-card">
          <p><%=project.title%></p>
          <button class="setting__project__button__delete">Leave</button>
        </div>
      <%end%>
    </div>
  <%end%>

  <%#Request to join%>
  <%#Invited to join%>

</div>
