<div class="project project__view">
  <section class="section section__header">
    <div>
      <section class="section__header__title">
        <h1><%= @project.title %></h1>
      </section>
    </div>

    <section class="section__follower">
      <span><%= @project.followers.count %></span>
      <p>Followers</p>
    </section>
  </section>
  <section class="section d-flex flex-row align-items-center justify-content-between">
    <div class="section__header__actions">
      <% if @project.starred_by?(current_user) %>
        <%= button_to unstar_project_path, method: :post,
            class: "button button--md button--unstar", remote: true do %>
          <%= @project.stars.count %>
        <% end %>
      <% else %>
        <%= button_to star_project_path, method: :post,
            class: "button button--md button--star", remote: true do %>
          <%= @project.stars.count %>
        <% end %>
      <% end %>

      <% if @project.followed_by?(current_user) %>
        <%= button_to "Following", unfollow_project_path, method: :post,
            class: "button button--md button--unfollow--md", remote: true%>
      <% else %>
        <%= button_to "Follow", follow_project_path, method: :post,
            class: "button button--md button--follow--md", remote: true %>
      <% end %>
    </div>
    <button class="button button--md button--status">In progress</button>
  </section>

  <% if @project.owners.map(&:id).include? current_user.id%>
    <%= button_to "Edit Project", edit_project_path, class: "section button button--md project__fullwidth", method: :get %>
  <%end%>

  <section class="section__header__short-desc">
    <p><%= @project.short_desc%></p>
  </section>

  <section class="section section__overview">
    <%# Todo: [Eit] Project Overview %>
    <h2>Project Overview</h2>
    <p><%= @project.short_desc%></p>

  </section>

  <section class="section section__dates">
    <%# Todo: [Eit] Date conditions %>
    <% unless @project.start_date.blank? %>
      <div>
        <h2>Start</h2>
        <p><%= @project.start_date_to_s %></p>
      </div>
    <% end %>
    <% unless @project.end_date.blank? %>
      <div>
        <h2>End</h2>
        <p><%= @project.end_date_to_s %></p>
      </div>
    <% end %>
  </section>

  <section class="section section__tags">
    <h2>Tags</h2>
    <div>
      <% @project.tag_list.each do |tag|%>
        <button class="button button--md button--tag">
          <%= "##{tag}" %>
        </button>
      <% end %>
    </div>
  </section>

  <section class="section section__members">
    <h2>Members (<%= @project.members.count %>)</h2>

    <% @members.each do |member| %>
      <%= button_to member.user, class: "member", method: :get do %>
        <% if member.user.profile_image_url %>
          <%= image_tag member.user.profile_image,
            class: "image__profile image__profile--small image__profile--with-border" %>
        <% else %>
          <%= image_pack_tag "portrait_placeholder.png",
            class: "image__profile image__profile--small image__profile--with-border" %>
        <% end %>

        <div class="member__details">
          <%= link_to member.user, class: "member__name" do %>
            <p class="member__name">
              <%= "#{member.user.first_name} #{member.user.last_name}"%>
            </p>
          <% end %>

          <p class="member__role">
            <%= member.role %>
          </p>
        </div>
      <% end %>
    <% end %>
  </section>

  <%# <section class="section section__posts">
    <h2>Project Posts</h2>
  </section>

  <section class="section section__related-projects">
    <h2>Related Projects</h2>
  </section> %>
</div>
