<div class="project project__index">
  <% if @page == "Owned" %>
    <% selected_projects = @owned_projects %>
  <% elsif @page == "Participated" %>
    <% selected_projects = @participated_projects %>
  <% elsif @page == "Followed" %>
    <% selected_projects = @following_projects %>
  <% elsif @page == "Starred" %>
    <% selected_projects = @starring_projects %>
  <% end %>

  <h1>My Projects</h1>
  <% if selected_projects %>
    <b> <%= selected_projects.count %> </b>
    <p> <%= @page %> </p>
  <% end %>

  <% if @page.blank? %>
    <div class="list project__index__menu">
      <%= link_to user_projects_path(page: "Owned"), class: "list__item" do %>
        <h3>
          Owned Projects (<%= @owned_projects.count %>)
        </h3>
      <% end %>

      <%= link_to user_projects_path(page: "Participated"), class: "list__item" do %>
        <h3>
          Participated Projects (<%= @participated_projects.count %>)
        </h3>
      <% end %>

      <%= link_to user_projects_path(page: "Followed"), class: "list__item" do %>
        <h3>
          Followed Projects (<%= @following_projects.count %>)
        </h3>
      <% end %>

      <%= link_to user_projects_path(page: "Starred"), class: "list__item" do %>
        <h3>
          Starred Projects (<%= @starring_projects.count %>)
        </h3>
      <% end %>
    </div>

  <% else %>
    <% if selected_projects.blank? %>
      <p>
        There is no projects here.
      </p>
    <% else %>
      <%= render selected_projects %>
    <% end %>
  <% end %>

</div>
